docs/n8n-workflows/agent-whatsapp-basic.json
{
  "name": "Agent IA WhatsApp - TDTech Analytics",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "whatsapp-tdtech"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TDTECH_API_URL }}/api/n8n/whatsapp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.Body || $json.message || $json.text || $json.entry[0].changes[0].value.messages[0].text.body }}\",\n  \"from\": \"{{ $json.From || $json.from || $json.entry[0].changes[0].value.messages[0].from }}\"\n}",
        "options": {}
      },
      "id": "http-request-ai",
      "name": "Agent IA TDTech",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "tdtech-api-key",
          "name": "TDTech API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-reply-exists",
              "leftValue": "={{ $json.reply }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-reply",
      "name": "Réponse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-reply",
              "name": "replyMessage",
              "value": "={{ $json.reply }}",
              "type": "string"
            },
            {
              "id": "set-to",
              "name": "recipientPhone",
              "value": "={{ $json.to }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Préparer Réponse",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-error",
              "name": "replyMessage",
              "value": "Désolé, je n'ai pas pu traiter ta demande. Réessaie dans quelques instants.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-error-response",
      "name": "Message Erreur",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 400]
    },
    {
      "parameters": {},
      "id": "noop-end",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Agent IA TDTech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent IA TDTech": {
      "main": [
        [
          {
            "node": "Réponse OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Réponse OK?": {
      "main": [
        [
          {
            "node": "Préparer Réponse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer Réponse": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Erreur": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "WhatsApp",
      "id": "1"
    },
    {
      "name": "Analytics",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
